/*Window */
.qx-aum-window{

    background-color:white;
}


/*reverse text blue-white */
.qx-no-image.qx-aum-label.qx-c-lycia_display_at.qx-c-attribute_reverse.qx-not-readonly.qx-has-text
.qx-text-with-icon .qx-text
{
    color:white;
  background: #3a597e;
}