/*
########################################################
CSS is used for label/text properties

/* 
colors:
normal = blue/white
	border: #79b7e7
	background: #ffffff
input  =darkYello-lightYellow
	border:#fad42e
	background: #fbec88
########################################################
*/


/*normal form text label -class fcls_fieldlabel*/

.qx-aum-label .qx-text{
    color: var(--label-fg-color); 
}


/*###################################
BLACK
###################################/*

/*4gl color black huho: 03.11.2018 */
.qx-c-attribute_black.qx-aum-label .qx-text{
    color: var(--4gl-color-black);	
}

/*4gl color black-reverse huho: 03.11.2018 */
.qx-c-attribute_black.qx-c-attribute_reverse.qx-aum-label .qx-text{
    color: var(--4gl-color-black-rev-fg);	
    background-color: var(--4gl-color-black-rev-bg);
}

/*4gl color black-Dim huho: 03.11.2018 */
.qx-c-attribute_black.qx-c-attribute_dim.qx-aum-label .qx-text{
    color: var(--4gl-color-black-dim);
    background-color:transparent !important;
}
.qx-c-attribute_black.qx-c-attribute_dim.qx-aum-label {
    color: var(--4gl-color-black-dim);
    background-color: var(--4gl-color-dim-bg-label) !important;
    /*background-color:rgba(225,225,225,0.3) !important;*/
}

/*4gl color black-Blink huho: 03.11.2018 */
.qx-c-attribute_black.qx-c-attribute_dim.qx-aum-label .qx-text{
    color: var(--4gl-color-black-blink);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_black.qx-c-attribute_blink.qx-aum-label {
    background-color: var(--4gl-color-blink-bg-label) !important;
}

/*###################################
WHITE
###################################/*

/*4gl color white huho: 03.11.2018 */
.qx-c-attribute_white.qx-aum-label .qx-text{
    color: var(--4gl-color-white);	
}

/*4gl color WHITE - reverse huho: 03.11.2018 */
.qx-c-attribute_white.qx-c-attribute_reverse.qx-aum-label .qx-text{
    color: var(--4gl-color-white-rev-fg);	
    background-color: var(--4gl-color-white-rev-bg);
}

/*4gl color WHITE - Dim huho: 03.11.2018 */
.qx-c-attribute_white.qx-c-attribute_dim.qx-aum-label .qx-text{
    color:var(--4gl-color-white-dim);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_white.qx-c-attribute_dim.qx-aum-label {
    color:var(--4gl-color-black-dim);
    background-color: var(--4gl-color-dim-bg-label) !important;
    /*background-color:rgba(225,225,225,0.3) !important;*/
}

/*4gl color WHITE - Blink huho: 03.11.2018 */
.qx-c-attribute_white.qx-c-attribute_blink.qx-aum-label .qx-text{
    color:var(--4gl-color-white-blink-fg);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_white.qx-c-attribute_blink.qx-aum-label {
    background-color: var(--4gl-color-blink-bg-label) !important;
}



/*###################################
GREEN
###################################/*

/*4gl color green huho: 03.11.2018 */
.qx-c-attribute_green.qx-aum-label .qx-text{
    color: var(--4gl-color-green);	
}

/*4gl color green - reverse huho: 03.11.2018 */
.qx-c-attribute_green.qx-c-attribute_reverse.qx-aum-label .qx-text{
    color: var(--4gl-color-green-rev-fg);	
    background-color: var(--4gl-color-green-rev-bg);
}

/*4gl color green - Dim huho: 03.11.2018 */
.qx-c-attribute_green.qx-c-attribute_dim.qx-aum-label .qx-text{
    color:var(--4gl-color-green-dim);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_green.qx-c-attribute_dim.qx-aum-label {
    color:var(--4gl-color-black-dim);
    background-color: var(--4gl-color-dim-bg-label) !important;
    /*background-color:rgba(225,225,225,0.3) !important;*/
}

/*4gl color green - Blink huho: 03.11.2018 */
.qx-c-attribute_green.qx-c-attribute_blink.qx-aum-label .qx-text{
    color:var(--4gl-color-green-blink-fg);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_green.qx-c-attribute_blink.qx-aum-label {
    background-color: var(--4gl-color-blink-bg-label) !important;
}


/*###################################
RED
###################################/*

/*4gl color red huho: 03.11.2018 */
.qx-c-attribute_red.qx-aum-label .qx-text{
    color: var(--4gl-color-red);	
}

/*4gl color red - reverse huho: 03.11.2018 */
.qx-c-attribute_red.qx-c-attribute_reverse.qx-aum-label .qx-text{
    color: var(--4gl-color-red-rev-fg);	
    background-color: var(--4gl-color-red-rev-bg);
}

/*4gl color red - Dim huho: 03.11.2018 */
.qx-c-attribute_red.qx-c-attribute_dim.qx-aum-label .qx-text{
    color:var(--4gl-color-red-dim);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_red.qx-c-attribute_dim.qx-aum-label {
    color:var(--4gl-color-black-dim);
    background-color: var(--4gl-color-dim-bg-label) !important;
    /*background-color:rgba(225,225,225,0.3) !important;*/
}

/*4gl color red - Blink huho: 03.11.2018 */
.qx-c-attribute_red.qx-c-attribute_blink.qx-aum-label .qx-text{
    color:var(--4gl-color-red-blink-fg);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_red.qx-c-attribute_blink.qx-aum-label {
    background-color: var(--4gl-color-blink-bg-label) !important;
}



/*###################################
BLUE
###################################/*

/*4gl color blue huho: 03.11.2018 */
.qx-c-attribute_blue.qx-aum-label .qx-text{
    color: var(--4gl-color-blue);	
}

/*4gl color blue - reverse huho: 03.11.2018 */
.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-label .qx-text{
    color: var(--4gl-color-blue-rev-fg);	
    background-color: var(--4gl-color-blue-rev-bg);
}

/*4gl color blue - Dim huho: 03.11.2018 */
.qx-c-attribute_blue.qx-c-attribute_dim.qx-aum-label .qx-text{
    color:var(--4gl-color-blue-dim);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_blue.qx-c-attribute_dim.qx-aum-label {
    color:var(--4gl-color-black-dim);
    background-color: var(--4gl-color-dim-bg-label) !important;
    /*background-color:rgba(225,225,225,0.3) !important;*/
}

/*4gl color blue - Blink huho: 03.11.2018 */
.qx-c-attribute_blue.qx-c-attribute_blink.qx-aum-label .qx-text{
    color:var(--4gl-color-blue-blink-fg);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_blue.qx-c-attribute_blink.qx-aum-label {
    background-color: var(--4gl-color-blink-bg-label) !important;
}



/*###################################
MAGENTA
###################################/*

/*4gl color magenta huho: 03.11.2018 */
.qx-c-attribute_magenta.qx-aum-label .qx-text{
    color: var(--4gl-color-magenta);	
}

/*4gl color magenta - reverse huho: 03.11.2018 */
.qx-c-attribute_magenta.qx-c-attribute_reverse.qx-aum-label .qx-text{
    color: var(--4gl-color-magenta-rev-fg);	
    background-color: var(--4gl-color-magenta-rev-bg);
}

/*4gl color magenta - Dim huho: 03.11.2018 */
.qx-c-attribute_magenta.qx-c-attribute_dim.qx-aum-label .qx-text{
    color:var(--4gl-color-magenta-dim);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_magenta.qx-c-attribute_dim.qx-aum-label {
    color:var(--4gl-color-black-dim);
    background-color: var(--4gl-color-dim-bg-label) !important;
    /*background-color:rgba(225,225,225,0.3) !important;*/
}

/*4gl color magenta - Blink huho: 03.11.2018 */
.qx-c-attribute_magenta.qx-c-attribute_blink.qx-aum-label .qx-text{
    color:var(--4gl-color-magenta-blink-fg);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_magenta.qx-c-attribute_blink.qx-aum-label {
    background-color: var(--4gl-color-blink-bg-label) !important;
}




/*###################################
YELLOW
###################################/*

/*4gl color yellow huho: 03.11.2018 */
.qx-c-attribute_yellow.qx-aum-label .qx-text{
    color: var(--4gl-color-yellow);	
}

/*4gl color yellow - reverse huho: 03.11.2018 */
.qx-c-attribute_yellow.qx-c-attribute_reverse.qx-aum-label .qx-text{
    color: var(--4gl-color-yellow-rev-fg);	
    background-color: var(--4gl-color-yellow-rev-bg);
}

/*4gl color yellow - Dim huho: 03.11.2018 */
.qx-c-attribute_yellow.qx-c-attribute_dim.qx-aum-label .qx-text{
    color:var(--4gl-color-yellow-dim);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_yellow.qx-c-attribute_dim.qx-aum-label {
    color:var(--4gl-color-black-dim);
    background-color: var(--4gl-color-dim-bg-label) !important;
    /*background-color:rgba(225,225,225,0.3) !important;*/
}

/*4gl color yellow - Blink huho: 03.11.2018 */
.qx-c-attribute_yellow.qx-c-attribute_blink.qx-aum-label .qx-text{
    color:var(--4gl-color-yellow-blink-fg);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_yellow.qx-c-attribute_blink.qx-aum-label {
    background-color: var(--4gl-color-blink-bg-label) !important;
}



/*###################################
CYAN
###################################/*

/*4gl color cyan huho: 03.11.2018 */
.qx-c-attribute_cyan.qx-aum-label .qx-text{
    color: var(--4gl-color-cyan);	
}

/*4gl color cyan - reverse huho: 03.11.2018 */
.qx-c-attribute_cyan.qx-c-attribute_reverse.qx-aum-label .qx-text{
    color: var(--4gl-color-cyan-rev-fg);	
    background-color: var(--4gl-color-cyan-rev-bg);
}

/*4gl color cyan - Dim huho: 03.11.2018 */
.qx-c-attribute_cyan.qx-c-attribute_dim.qx-aum-label .qx-text{
    color:var(--4gl-color-cyan-dim);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_cyan.qx-c-attribute_dim.qx-aum-label {
    color:var(--4gl-color-black-dim);
    background-color: var(--4gl-color-dim-bg-label) !important;
    /*background-color:rgba(225,225,225,0.3) !important;*/
}

/*4gl color cyan - Blink huho: 03.11.2018 */
.qx-c-attribute_cyan.qx-c-attribute_blink.qx-aum-label .qx-text{
    color:var(--4gl-color-cyan-blink-fg);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_cyan.qx-c-attribute_blink.qx-aum-label {
    background-color: var(--4gl-color-blink-bg-label) !important;
}


/*4gl color cyan huho: 24.02.2019 */
.qx-c-attribute_cyan.qx-aum-label .qx-text{
    color: var(--4gl-color-cyan)    	
}





.qx-c-fcls_data_widget.qx-no-image.qx-aum.qx-aum-label.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-has-text.qx-c-attribute_underline
{
    font: var(--default-font); /*normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;*/
    color: red; /* #3a597e; */
} 
.qx-c-fcls_columnlabel.qx-aum-label .qx-text{
    /*font: bold 1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;*/
    font-weight: bold;
    /*color: #3a597e; */
} 

/*FormClass: fcls_columnlabel_rev - selects just the label*/
.qx-c-fcls_columnlabel_rev.qx-aum-label .qx-text{
    /*font: normal 1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;*/
    color: var(--label_rev-fg-color); /*white;   */
    background: var(--label_rev-bg-color); /* #3a597e;*/
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	

/*FormClass: fcls_columnlabel_rev_cell - selects the entire cell*/
:not(.ui-widget-content).qx-aum-label.qx-c-fcls_columnlabel_rev_cell{
    background: var(--label_rev-bg-color) !important; 
	flex: 1;
}	

.qx-c-fcls_columnlabel_rev_cell.qx-aum-label .qx-text-with-icon{
    font: normal 1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: var(--label_rev-fg-color); 
    background:var(--label_rev-bg-color);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	

.qx-c-fcls_columnlabel_rev_cell.qx-aum-label .qx-text{
    font: normal 1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: var(--label_rev-fg-color); 
    background:var(--label_rev-bg-color);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	

/*FormClass: fcls_key_usage - selects the entire cell*/
:not(.ui-widget-content).qx-aum-label.qx-c-fcls_key_usage{
    background:var(--label_rev-bg-color);
	flex: 1;
}	
.qx-c-fcls_key_usage .qx-text{
    color: var(--label_rev-fg-color);  
    background: var(--label_rev-bg-color);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	


/*FormClass: fcls_menulabel - used in hand-made 4gl menu's (not the menu statement)*/
.qx-c-fcls_menulabel .qx-text{
    color: var(--label-fg-color);
} 

/*FormClass: fcls_title_lb for FORM TitleBar/Header*/
.qx-c-fcls_title_lb .qx-text {
    padding: 2px;
    padding: 5px 10px;
    color: var(--root_cnt_footer-fg-color) !important;
	font-weight:bold;
} 

/*FormClass: fcls_sblabel for FORM statusbar*/
.qx-c-fcls_sblabel .qx-text {
	color: #ffffff;
    padding: 5px 10px 2px;
} 

/*dynamic menu label - initial draw */
.qx-c-fcls_menulabel.qx-no-image.qx-has-text.qx-hta-l.qx-aum.qx-aum-label.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive {
	color: var(--label-fg-color); 
}


.qx-c-fcls_font_h1 .qx-text-with-icon{
	font-size: 2rem;
	font-weight:bold;
	color: var(--label-fg-color); 
}

.qx-c-fcls_font_h2 .qx-text-with-icon{
	font-size: 1.6rem;
	font-weight:bold;
	color: var(--label-fg-color); 
}

.qx-c-fcls_font_h3 .qx-text-with-icon{
	font-size: 1.2rem;
	font-weight:bold;
	color: var(--label-fg-color); 
}

.qx-c-fcls_font_h4 .qx-text-with-icon{
	font-size: 1rem;
	font-weight:bold;
	color: var(--label-fg-color); 
}




.qx-c-fcls_font_description .qx-text-with-icon  .qx-text{
	color: var(--label_comment-fg-color);
	font-style: italic;
}
