@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
/*@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Arimo");
@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

@import url("https://fonts.googleapis.com/css?family=Cousine");
@import url("https://fonts.googleapis.com/css?family=Space+Mono");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
*/
/*
@import url("http://www.princexml.com/fonts/larabie/index.css") all;
*/
/*Size of the root element to define 1rem */
/* You can also see it as a global screen scaling option */
:root {
/*font-size: 12px; */
font: normal 12px "Open Sans","Noto Sans","Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif !important; 
--default-font: normal 1rem "Open Sans","Noto Sans","Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif !important; 



--main-bg-color: white;
--main-fg-color: black;
--label-fg-color: #3a597e;
--label_rev-fg-color: white;
--label_rev-bg-color: #3a597e; 
--label_comment-fg-color: grey;

--titlebar-bg-color: yellow;
--titlebar-fg-color: orange;

--toolbar-fg-color: white;  
--toolbar-bg-color: rgb(58, 89, 126); 

--cnt_titlebar-fg-color: pink;
--cnt_titlebar-bg-color: blue;
--cnt-fg-color: pink;
--cnt-bg-color: blue;


--cnt_gb-fg-color: yellow;
--cnt_gb-bg-color: white;
--cnt_gb_titlebar-fg-color: white;
--cnt_gb_titlebar-bg-color: #3a597e;

--cnt_tb_header-fg-color: pink;
--cnt_tb_header-bg-color: #3a597e;  
--cnt_tb_curr_row-fg-color: white; 
--cnt_tb_curr_row-bg-color: #6a89ae; 
--cnt_tb_row_odd-fg-color: rgba(137,210,255, 0.2); 
--cnt_tb_row_even-bg-color: rgba(137,210,255, 0.2); 



--root_cnt_titlebar-fg-color: pink;
--root_cnt_titlebar-bg-color: blue;  
--root_cnt_header-fg-color: white;
--root_cnt_header-bg-color: #3a597e;
--root_cnt_footer-fg-color: white;
--root_cnt_footer-bg-color: blue;

--root_cnt-fg-color: pink;
--root_cnt-bg-color: blue;

--cnt_tab_handle_not_selected-bg-color: rgb(58, 89, 126);  
--cnt_tab_handle_selected-bg-color: rgb(32, 53, 94);  
--cnt_tab_handle_area-bg-color: #3a597e;

/* mdi menu container transformer*/
--cnt_mdi_menu_col1-color: #3a597e;  /* menubar */
--cnt_mdi_menu_col2-color: #324873; /*sidebar*/
--cnt_mdi_menu_col3-color: #20355e; /* sub-items */
--cnt_mdi_menu_col4-color: rgba(255,255,255); /* selection foreground*/
--cnt_mdi_menu_col5-color: #0397da;; /* selection background */

--cnt_mdi_menu_header-bg-color: red; 
--cnt_mdi_menu_button_area-bg-color: #324873 !important; 
--cnt_mdi_header-bg-color: #3a597e; 

--cnt_mdi_tab_handle_not_selected-bg-color: rgba(58, 89, 126,.75);  
--cnt_mdi_tab_handle_selected-bg-color: rgb(58, 89, 126);  


--widg_button-fg-color: white; 
--widg_button-bg-color: rgb(58, 89, 126); 

/* default 4gl colours */
--4gl-color-black: black;
--4gl-color-white: white;
--4gl-color-green: green;
--4gl-color-red: red;
--4gl-color-blue: blue;
--4gl-color-yellow: yellow;
--4gl-color-cyan: cyan;
--4gl-color-magenta: magenta;

/* default 4gl colours with REVERSED*/
--4gl-color-rev-black-fg: white;
--4gl-color-rev-black-bg: black;

--4gl-color-rev-white-fg: black;
--4gl-color-rev-white-bg: white;

--4gl-color-rev-green-fg: white;
--4gl-color-rev-green-bg: green;

--4gl-color-rev-red-fg: white;
--4gl-color-rev-red-bg: red;

--4gl-color-rev-blue-fg: white;
--4gl-color-rev-blue-bg: blue;

--4gl-color-rev-yellow-fg: white;
--4gl-color-rev-yellow-bg: yellow;

--4gl-color-rev-cyan-fg: white;
--4gl-color-rev-cyan-bg: cyan;

--4gl-color-rev-magenta-fg: white;
--4gl-color-rev-magenta-bg: magenta;



}


/*Default font for elements, if it does not get overwritten by other css selectors*/
.qx-text,
.qx-has-text .qx-text,
.qx-c-fcls_data_widget.qx-has-text .qx-text,
.qx-bcell .qx-tbody.qx-tbody-flex-experimental,
.ui-spinner.ui-widget.ui-widget-content.qx-aum.qx-aum-spinner.qx-aum-abstract-field.qx-c-fcls_data_widget .qx-text,
.qx-text-field.qx-aum-text-field .qx-text
{
	font: normal 1rem "Open Sans","Noto Sans","Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif !important;  

}

/* I need the following font form classes only for demo purpose demo_samples/font_viewer... may be we can find a better way to demonstrate this */


/*font test case font1 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_01 .qx-text{
    font: normal 1rem Montserrat !important;
    color: var(--label-fg-color)
} 

/*font test case font2 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_02 .qx-text{
    font: normal 1rem "Noto Sans" !important;  
    color: var(--label-fg-color)
} 

/*font test case font3 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_03 .qx-text{
    font: normal 1rem "Helvetica Neue" !important;
    color: var(--label-fg-color)
} 

/*font test case font4 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_04 .qx-text{
    font: normal 1rem Sans-Serif !important;
    color: var(--label-fg-color)
} 

/*font test case font5 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_05 .qx-text{
    font: normal 1rem "Roboto Mono" !important;
    color: var(--label-fg-color)
} 

/*font test case font6 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_06 .qx-text{
    font: normal 1rem "Droid Sans Mono" !important;
    color: var(--label-fg-color)
} 

/*font test case font7 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_07 .qx-text{
    font: normal 1rem "Space Mono" !important;
    color: var(--label-fg-color)
} 

/*font test case font8 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_08 .qx-text{
    font: normal 1rem Monospace !important;
    color: var(--label-fg-color)
} 

/*font test case font9 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_09 .qx-text{
    font: normal 1rem "Open Sans" !important;
    color: var(--label-fg-color)
} 

/*font test case font10 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_10 .qx-text{
    font: normal 1rem "Fira Sans" !important;
    color: var(--label-fg-color)
} 

/*font test case font11 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_11 .qx-text{
    font: normal 1rem "Josefin Sans" !important;
    color: var(--label-fg-color)
} 

/*font test case font12 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_12 .qx-text{
    font: normal 1rem "Open Sans Condensed" !important;
    color: var(--label-fg-color)
} 
/*font test case font13 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_13 .qx-text{
    font: normal 1rem Roboto !important;
    color: var(--label-fg-color)
} 

/*font test case font14 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_14 .qx-text{
    font: normal 1rem Lato !important;
    color: var(--label-fg-color)
} 


/*font test case font15 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_15 .qx-text{
    font: normal 1rem "Roboto Condensed" !important;
    color: var(--label-fg-color)} 

/*font test case font16 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_16 .qx-text{
    font: normal 1rem Raleway !important;
    color: var(--label-fg-color)
} 

/*font test case font17 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_17 .qx-text{
    font: normal 1rem "Droid Sans" !important;
    color: var(--label-fg-color)
} 

/*font test case font18 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_18 .qx-text{
    font: normal 1rem Ubuntu !important;
    color: var(--label-fg-color)
} 

/*font test case font19 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_19 .qx-text{
    font: normal 1rem Arimo !important;
    color: var(--label-fg-color)
} 


/*font test case font20 - normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel.qx-c-fcls_font_20 .qx-text{
    font: normal 1rem Abel !important;
    color: var(--label-fg-color)
} 






/*Font_01 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_01 .qx-text{
font: normal 1rem Montserrat !important;
}
/*Font_02 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_02 .qx-text{
font: normal 1rem "Noto Sans" !important;
}
/*Font_03 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_03 .qx-text{
font: normal 1rem "Helvetica Neue" !important;
}
/*Font_04 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_04 .qx-text{
font: normal 1rem Sans-Serif !important;
}
/*Font_05 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_05 .qx-text{
font: normal 1rem "Roboto Mono" !important;
}
/*Font_06 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_06 .qx-text{
font: normal 1rem "Droid Sans Mono" !important;
}
/*Font_07 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_07 .qx-text{
font: normal 1rem "Space Mono" !important;
}
/*Font_08 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_08 .qx-text{
font: normal 1rem Monospace !important;
}
/*Font_09 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_09 .qx-text{
font: normal 1rem "Open Sans" !important;
}
/*Font_10 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_10 .qx-text{
font: normal 1rem "Fira Sans" !important;
}
/*Font_11 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_11 .qx-text{
font: normal 1rem "Josefin Sans" !important;
}
/*Font_12 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_12 .qx-text{
font: normal 1rem "Open Sans Condensed" !important;
}
/*Font_13 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_13 .qx-text{
font: normal 1rem Roboto !important;
}
/*Font_14 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_14 .qx-text{
font: normal 1rem Lato !important;
}
/*Font_15 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_15 .qx-text{
font: normal 1rem "Roboto Condensed" !important;
}
/*Font_16 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_16 .qx-text{
font: normal 1rem Raleway !important;
}
/*Font_17 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_17 .qx-text{
font: normal 1rem "Droid Sans" !important;
}
/*Font_18 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_18 .qx-text{
font: normal 1rem Ubuntu !important;
}
/*Font_19 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_19 .qx-text{
font: normal 1rem Arimo !important;
}
/*Font_20 Example - textField widget - font*/
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_font_20 .qx-text{
font: normal 1rem Abel !important;
}

