/*
########################################################

CSS is used for 4gl attributes

########################################################
*/

/*######################################################
Underline style remove/hide 
########################################################*/
.qx-aum.qx-c-attribute_underline, .qx-aum.qx-c-attribute_underline * {
	text-decoration: none;
}


/*######################################################
Black style textField
########################################################*/
.qx-c-attribute_black.qx-text-field.qx-single-row.qx-aum.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text
.qx-text.qx-text-edit.qx-vtal.qx-htal.qx-focus-target
{
	color: black;
	background: white;
	white-space: initial
}


/*######################################################
Black REVERSE style textField
########################################################*/
.qx-c-attribute_black.qx-c-attribute_reverse.qx-text-field.qx-single-row.qx-aum.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text
.qx-text.qx-text-edit.qx-vtal.qx-htal.qx-focus-target
{
	color: white;
	background: black);
	white-space: initial
}


/*######################################################
Black BLINK style textField
########################################################*/
.qx-c-attribute_black.qx-c-attribute_blink.qx-text-field.qx-single-row.qx-aum.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text
.qx-text.qx-text-edit.qx-vtal.qx-htal.qx-focus-target
{
	color: black;
	background: rgb(255, 235, 156);
	white-space: initial
}

/*######################################################
Black DIM style textField
########################################################*/
.qx-c-attribute_black.qx-c-attribute_dim.qx-text-field.qx-single-row.qx-aum.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text
.qx-text.qx-text-edit.qx-vtal.qx-htal.qx-focus-target
{
	color: rgb(200, 200, 200);
	background: rgb(233, 233, 233);
	white-space: initial
}



/*######################################################
White style textField
########################################################*/
.qx-c-attribute_white.qx-text-field.qx-single-row.qx-aum.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text
.qx-text.qx-text-edit.qx-vtal.qx-htal.qx-focus-target
{
	color: whitesmoke;
	background: grey;
	white-space: initial
}


/*######################################################
Cyan style textField
########################################################*/
.qx-c-attribute_cyan.qx-text-field.qx-single-row.qx-aum.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text
.qx-text.qx-text-edit.qx-vtal.qx-htal.qx-focus-target
{
	color: white;
	background: #2e6e9e;
	white-space: initial
}
/*######################################################
Table Field/Row qx-c-attribute_reverse
########################################################*/

.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field.qx-c-attribute_reverse
{
	color: white;
	background: #2e6e9e;
	white-space: initial
}

/*######################################################
GREEN and UNDERLINE style textField
########################################################*/

.qx-c-attribute_green
.qx-text.qx-text-edit.qx-vtal.qx-htal.qx-focus-target
{
	background: #c4e2f7;
}

/*######################################################
REVERSE and WHITE style textField
########################################################*/
.qx-c-attribute_reverse.qx-c-attribute_white.qx-text-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text
.qx-text.qx-text-edit.qx-htal.qx-focus-target
{
	background: #c4e2f7;
	color: #2e6e9e;	
	font-weight: bold;
}

/*######################################################
REVERSE and BLUE style textField
########################################################*/
/*.qx-c-attribute_reverse.qx-c-attribute_blue.qx-text-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text
.qx-text.qx-text-edit.qx-htal.qx-focus-target,
.qx-c-attribute_blue.qx-c-attribute_reverse:not(.qx-c-nativestyle), 
*/
.qx-aum-canvas.qx-c-attribute_blue.qx-c-attribute_reverse,
.qx-aum-text-field.qx-c-attribute_blue.qx-c-attribute_reverse,
.qx-aum-label.qx-c-attribute_blue.qx-c-attribute_reverse
{
	background: var(--4gl-color-rev-blue-bg) !important;
	color: var(--4gl-color-rev-blue-fg) !important;
	font-weight: bold;
}
