/*
########################################################
CSS is used for container properties

 
########################################################
*/
/* css for legacy apps */
/*
.qx-c-fcls_container_border.qx-table.qx-aum-table.qx-aum-abstract-data-table.qx-aum-abstract-container,
.qx-c-fcls_container_border.qx-aum-items-container.qx-aum-abstract-container
{
    border-color: rgb(46,109,158);    
    margin: 2px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: red; 
}
*/

.qx-c-fcls_container_border.qx-aum-items-container.qx-aum-abstract-container
{
 /* border-color: rgb(46,109,158);    
    border-style: solid;
    border-width: 1px;
    border-radius: 5px; */


    
 
}

.qx-c-fcls_detail_cnt.qx-aum-items-container.qx-aum-abstract-container
{
    margin-top: 8px;
    margin-bottom: 8px;
	
}

.qx-c-fcls_container_margin.qx-aum-items-container.qx-aum-abstract-container
{
    margin: 2px;
}

.qx-c-fcls_container_padding.qx-aum-items-container.qx-aum-abstract-container
{
    padding: 2px;
}

/*
#######################################################
Gridpanel
#######################################################
*/

/*rootContainer - elementBorder etc.. */
.qx-identifier-rootcontainer.qx-c-fcls_rootcontainer.qx-aum-grid-panel.qx-aum-items-container.qx-aum-abstract-container,
.qx-c-fcls_rootcontainer.qx-aum-grid-panel.qx-aum-items-container.qx-aum-abstract-container,
.qx-aum-grid-panel.qx-aum-items-container.qx-aum-abstract-container,
.qx-aum.qx-aum-grid-panel.qx-aum-items-container.qx-aum-abstract-container.qx-root-form.qx-window-root
{
/*    margin: 2px; */
    padding: 2px;
/*  border-color: rgb(46,109,158);    
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: red; 
*/    
}

.qx-wrap.qx-ha-l > .qx-bound > *{
    align-self: stretch;
}

/* Commented by vior 2017-09-06 17:12 UKR time
.qx-aum.qx-aum-grid-panel.qx-aum-items-container.qx-aum-abstract-container
{
    align-self: stretch;
	
}*/
/*All grid cells - vertical element alignment within gridPanel cells */
/*
.qx-grid-cell {
    vertical-align: top;
    overflow: hidden;
   
}

*/

/*All cells in rootContainer descendants -  vertical element alignment top*/
.qx-c-fcls_rootcontainer.qx-aum-grid-panel .qx-grid-cell 
{
    vertical-align: top;
    overflow: hidden;
}

/*All descendant cells in gridPanels with class fcls_data_cnt -  vertical element middle */
.qx-aum-grid-panel.qx-c-fcls_data_cnt .qx-grid-cell 
{
    vertical-align: middle;
    overflow: hidden;
}



/*
#######################################################
GroupBox
#######################################################
*/

/*
GroupBox Header with form class fcls_detail_gb_cnt
*/

/*All groupBoxes */
.qx-aum-group-box .qx-groupbox-header
{
	border: 1px solid #5c9ccc;
	background: #3a597e; url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;    
	color: #ffffff;
	#font-weight: bold;
	padding: 2px;	
	/*
	border-radius: 4px;

	margin: 0; 
	*/	
}
/*Only groupBoxes with the form class .qx-c-fcls_detail_gb_cnt*/
.qx-c-fcls_detail_gb_cnt.qx-aum-group-box .qx-groupbox-header
{
	border: 1px solid #5c9ccc;
	background: #3a597e; url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;   
	color: #ffffff;
	#font-weight: bold;
	padding: 2px;	
	/*
	border-radius: 4px;

	margin: 0; 
	*/	
}


/*
GroupBox Header LABEL with form class fcls_detail_gb_cnt
*/
.qx-c-fcls_detail_gb_cnt .ui-accordion-header .qx-text
{
	color: white /*#2e6e9e;*/
    /*
    font: bold 1.1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif; 
	font-weight:600;
    */
}

/* ###########################################
StackPanel
############################################*/
.qx-aum-stack-panel
{
    align-items:center;
}

/* ###########################################
Table Container - Display/Input Array
############################################*/

/*Current Row but NOT enabled */
/*.qx-table-cell.qx-c-activefield.qx-aum.qx-aum-abstract-field.qx-content.qx-has-text.qx-vta-c.qx-hta-r.qx-c-attribute_reverse >*/
/*Current Row but NOT enabled */
.qx-table-cell.qx-c-activefield.qx-aum.qx-aum-abstract-field.qx-content.qx-has-text.qx-c-attribute_reverse >
.qx-text-with-icon.qx-vtal.qx-htal >
.qx-text.qx-has-text
{
	color: #cd0a0a;
}
.qx-table.qx-aum-table.qx-aum-abstract-data-table.qx-aum-abstract-container
{
  
    margin: 2px;
    padding: 2px;
/*    
    border-color: rgb(46,109,158); 
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: red; 
*/
}	
/*
.qx-table.qx-aum-table.qx-aum-abstract-data-table .qx-aum {
	padding: 0 5px;
}*/
.qx-table.qx-aum-table.qx-aum-abstract-data-table .qx-aum-combo-box {
	padding-right: 0;
}

/*
.qx-aum-stack-panel *
{
    vertical-align: middle;
    overflow: hidden;
}
.qx-horizontal.qx-aum.qx-aum-stack-panel.qx-aum-items-container.qx-aum-abstract-container .qx-text 
{
    vertical-align: middle !important;
    overflow: hidden;
    color: red;
}

*/

/*
####################################################################################################################################
Table AND GridPanel container CSS

FormClasses:


/* 
colors:
normal = blue/white
	border: #79b7e7
	background: #ffffff
	
input  =darkYello-lightYellow
	border:#fad42e
	background: #fbec88

####################################################################################################################################
*/
/*inactive TableWidgetContainer - white */
	/*, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active*/
/*inactive TableWidgetContainer - white */
.qx-tbody tr
{ 
background-color: transparent; 
}

/*tableWidgetContainer - Assign to every second/even row a light blue */
.qx-tbody .qx-table-row:nth-child(even) {
	background: rgba(137,210,255, 0.1);
	}

/*tableWidgetContainer - Assign to every second/even row a light blue */
.qx-c-activefield .qx-tbody .qx-table-row:nth-child(even) {
	background: rgba(137,210,255, 0.01);
	}

/*tableWidgetContainer Current-Focus Row */
.qx-aum-wtf.qx-c-attribute_blue.qx-c-attribute_reverse:not(.qx-c-nativestyle), .qx-aum-wtf.qx-c-attribute_blue.qx-aum.qx-c-attribute_reverse:not(.qx-c-nativestyle) *
{

	background: #fbec88;
	/*color: #2e6e9e;*/
	
}

/*tableWidgetContainer - Normal text fields */
.qx-c-activefield .qx-tbody  tr .qx-text.qx-has-text {
    font: normal 1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: #2e6e9e; 
}



/*.qx-aum.ui-row-ltr.qx-focusable.qx-table-row  selects ALL rows*/ 


/*
######################################
Table row highlighting - 4GL set's the style attribute  highlight_str  and the css selects it to assign some properties
######################################
*/

/*Row Selection */
.qx-c-activefield .qx-tbody .qx-table-row.qx-c-highlight_str
{
	/*background-color:hsla(357,100%,24%,.3); */
	background-color:rgba(255, 200, 200, 0.3);
} 

/*Field Selection */
.qx-c-activefield .qx-tbody .qx-table-row.qx-c-highlight_str .qx-text.qx-has-text
{
	color: hsla(357, 100%, 24%, 1);
	/*color:hsla(357, 100%, 24%, 1);*/
} 



/*
######################################
Table Column
(Display Array / Input Array)
######################################
*/

/*Table column and gridHeader padding/margin/border */
.qx-aum-table-column.ui-widget-header > div
{
  padding-left: 4px !important;
  padding-right: 4px !important;

  color: white;	

}



div.qx-aum-label.qx-aum.qx-aum-abstract-field.qx-c-nativestyle .qx-vtal{
	vertical-align: middle;
}


.qx-table td, .qx-table-cell .ui-state-active {/*, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active*/
	border: none;
	font-size: 1rem;
}



.qx-aum-table-column {
/*     margin-left: 3px;
    margin-right: 3px;    
	 */

	 border-left: 1px solid #fff !important;
}

/* .qx-aum-table-column .ui-widget .qx-aum-label {
    margin-left: 3px;
    margin-right: 3px;    
	
} 
.qx-aum-table-column label {
    margin-left: 6px;
    margin-right: 6px;    
	
}*/


/*tableWidget container - HEADER row - i.e 5px top/bottom and 0px right/left*/
.qx-aum-table-column .qx-text { 
	margin: 5px 0px; 

}


/*###########################################
Tab Page Container 
#############################################*/

.qx-focus-target.ui-tabs-anchor
{
	/*background-color: pink;*/
}

.qx-focus-target.ui-tabs-anchor .qx-text
{	
	/*
	font: normal 1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
	color: #2e6e9e; 
	*/
}

/* labels in the tabPage handles */
.qx-has-text .ui-tabs-anchor .qx-text-with-icon .qx-text
{
	/*color: blue;
	background-color: red;	*/
    justify-content: left;
    text-align: left;
	align-items: flex-start;
}


/*BEGIN ADDED BY VIOR 2017-09-07*/
.qx-thead th > label {
 left: 0;
 right: 0;
}
.qx-table-row > td.qx-table-cell,
.qx-thead-row > th.qx-aum-table-column.ui-widget-header {
	border: none;
    border-left: 1px solid transparent !important;
}

.qx-thead-row > th.qx-aum-table-column.ui-widget-header:nth-child(1),
.qx-table-row > td.qx-table-cell:nth-child(1) {
	border-left: none !important;
}

.qx-thead-row > th.qx-aum-table-column.ui-widget-header > label,
.qx-table-row > td.qx-table-cell {
	padding: 0 3px;
}
/*END ADDED BY VIOR 2017-09-07*/
