/*BEGIN alignment.css*/
.qx-c-screen > .qx-window-root:empty {
  display: none !important;
}

.qx-jquery-ui {
  .qx-c-fcls_align_left .qx-text-with-icon .qx-text {
    text-align: left;
    float: left;
  }
  
  .qx-c-fcls_align_right .qx-text-with-icon .qx-text {
    text-align: right;
    float: right;
  }
  
  .qx-c-fcls_align_vcenter .qx-text-with-icon .qx-text {
    vertical-align: middle;
  }
}

.qx-material-design {
}
/*END alignment.css*/
