/*BEGIN color_default.css*/
.qx-jquery-ui {
  /*###################################
  DEFAULT Label color
  ###################################/*
  /*fgl color default (no attribute(color)) huho: 03.11.2018 */
  .qx-aum-label .qx-text {
    color: var(--fgl-label-color-default-enabled-fg);
  }

  /* fgl color ATTRIBUTE(REVERSE) */
  .qx-c-attribute_reverse.qx-aum-label .qx-text {
    color: var(--fgl-label-color-default-rev-enabled-fg);
    background-color: var(--fgl-label-color-default-rev-enabled-bg);
  }

  .qx-c-attribute_reverse.qx-aum-label {
    color: var(--fgl-label-color-default-rev-enabled-fg);
    background-color: var(--fgl-label-color-default-rev-enabled-bg) !important;
  }

  /* fgl color ATTRIBUTE(DIM) */
  .qx-c-attribute_dim.qx-aum-label .qx-text {
    color: var(--fgl-color-default-dim-fg);
    background-color: transparent !important;
  }

  .qx-c-attribute_dim.qx-aum-label {
    color: var(--fgl-color-default-dim-bg);
    background-color: var(--fgl-color-default-dim-bg) !important;
      /*background-color:rgba(225,225,225,0.3) !important;*/;
  }

  /*fgl color ATTRIBUTE(BLINK) */
  .qx-c-attribute_blink.qx-aum-label .qx-text {
    color: var(--fgl-color-default-blink-fg);
    background-color: transparent !important;
  }
  /*parent background-color*/
  .qx-c-attribute_blink.qx-aum-label {
    background-color: var(--fgl-color-blink-bg-label) !important;
  }


  /*fgl color ATTRIBUTE(UNDERLINE) */
  .qx-c-attribute_underline.qx-aum-label .qx-text {
    color: var(--fgl-label-color-default-enabled-fg);
  }
  /*parent background-color*/
  .qx-c-attribute_blink.qx-aum-label {
      /*background-color: var(--fgl-color-blink-bg-label) !important;*/
  }

  /*###################################
  END OF DEFAULT Label color
  ###################################/*



  /*
  ####################################################################
  Inactive Fields (ALL Element Types with textBox)
  NOT IN INPUT
  DEFAULT ATTRIBUTE set in fgl  (NO color, dim, blink, reversed attribute)
  ####################################################################
  */

  .qx-aum-calendar.qx-inactive.ui-state-disabled,
  .qx-aum-calendar.qx-inactive.ui-state-disabled *,
  .qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
  .qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
  .qx-aum-spinner.qx-inactive.ui-state-disabled,
  .qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
  .qx-aum-text-field.qx-inactive.ui-state-disabled,
  .qx-aum-text-field.qx-inactive.ui-state-disabled *,
  .qx-aum-text-area.qx-inactive.ui-state-disabled,
  .qx-aum-text-area.qx-inactive.ui-state-disabled *,
  .qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
  .qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
  .qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
  .qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
  .qx-aum-browser {
    color: var(--fgl-field-color-default-disabled-fg) !important;
    background-color: var(--fgl-field-color-default-disabled-bg);
    opacity: 1;
    
  }
  /* DEFAULT REVERSE*/
  .qx-c-attribute_reverse.qx-aum-calendar.qx-inactive.ui-state-disabled,
  .qx-c-attribute_reverse.qx-aum-calendar.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_reverse.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
  .qx-c-attribute_reverse.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
  .qx-c-attribute_reverse.qx-aum-spinner.qx-inactive.ui-state-disabled,
  .qx-c-attribute_reverse.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
  .qx-c-attribute_reverse.qx-aum-text-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_reverse.qx-aum-text-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_reverse.qx-aum-text-area.qx-inactive.ui-state-disabled,
  .qx-c-attribute_reverse.qx-aum-text-area.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_reverse.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_reverse.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_reverse.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
  .qx-c-attribute_reverse.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
  .qx-c-attribute_reverse.qx-aum-browser {
    color: var(--fgl-field-color-default-rev-disabled-fg) !important;
    background-color: var(--fgl-field-color-default-rev-disabled-bg) !important;
    opacity: 1;
    
  }
  /* DEFAULT DIM*/
  .qx-c-attribute_dim.qx-aum-calendar.qx-inactive.ui-state-disabled,
  .qx-c-attribute_dim.qx-aum-calendar.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_dim.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
  .qx-c-attribute_dim.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
  .qx-c-attribute_dim.qx-aum-spinner.qx-inactive.ui-state-disabled,
  .qx-c-attribute_dim.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
  .qx-c-attribute_dim.qx-aum-text-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_dim.qx-aum-text-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_dim.qx-aum-text-area.qx-inactive.ui-state-disabled,
  .qx-c-attribute_dim.qx-aum-text-area.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_dim.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_dim.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_dim.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
  .qx-c-attribute_dim.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
  .qx-c-attribute_dim.qx-aum-browser {
    color: var(--fgl-color-default-dim-fg) !important;
    background-color: var(--fgl-color-default-dim-bg) !important;
    opacity: 1;
    
  }

  /* DEFAULT BLINK*/
  .qx-c-attribute_blink.qx-aum-calendar.qx-inactive.ui-state-disabled,
  .qx-c-attribute_blink.qx-aum-calendar.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_blink.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
  .qx-c-attribute_blink.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
  .qx-c-attribute_blink.qx-aum-spinner.qx-inactive.ui-state-disabled,
  .qx-c-attribute_blink.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
  .qx-c-attribute_blink.qx-aum-text-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_blink.qx-aum-text-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_blink.qx-aum-text-area.qx-inactive.ui-state-disabled,
  .qx-c-attribute_blink.qx-aum-text-area.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_blink.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_blink.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_blink.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
  .qx-c-attribute_blink.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
  .qx-c-attribute_blink.qx-aum-browser {
    color: var(--fgl-color-default-blink-fg) !important;
    background-color: var(--fgl-color-default-blink-bg) !important;
    opacity: 1;
    
  }



  /*
  ####################################################################
  Inactive Fields (ALL Element Types with textBox)
  NOT IN INPUT
  DEFAULT ATTRIBUTE set in fgl  (NO color, dim, blink, reversed attribute)
  ####################################################################
  */

  .qx-aum-calendar.qx-inactive.ui-state-disabled,
  .qx-aum-calendar.qx-inactive.ui-state-disabled *,
  .qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
  .qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
  .qx-aum-spinner.qx-inactive.ui-state-disabled,
  .qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
  .qx-aum-text-field.qx-inactive.ui-state-disabled,
  .qx-aum-text-field.qx-inactive.ui-state-disabled *,
  .qx-aum-text-area.qx-inactive.ui-state-disabled,
  .qx-aum-text-area.qx-inactive.ui-state-disabled *,
  .qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
  .qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
  .qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
  .qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
  .qx-aum-browser {
    color: var(--fgl-field-color-default-disabled-fg) !important;
    background-color: var(--fgl-field-color-default-disabled-bg);
  /* transparent; */
    opacity: 1;
    
  }

  /* ******************************************************* */
  /*REVERSED color*/
  /*default-reversed*/
  .qx-aum-some.qx-c-attribute_reverse:not(.qx-c-nativestyle),
  .qx-aum-some.qx-c-attribute_reverse.qx-aum:not(.qx-c-nativestyle) * {
    /*color: var(--fgl-color-black-bg); */
    background: var(--fgl-enabled-default-color-fg);
  }

  .qx-c-attribute_reverse:not(.qx-c-nativestyle) .md-input,
  .qx-c-attribute_reverse:not(.qx-c-nativestyle) {
    color: var(--fgl-color-default-bg);
  /*text face color fg */
    background-color: var(--fgl-enabled-default-color-fg);
  }


  /* DEFAULT REVERSE*/
  .qx-c-attribute_reverse.qx-aum-calendar.qx-inactive.ui-state-disabled,
  .qx-c-attribute_reverse.qx-aum-calendar.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_reverse.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
  .qx-c-attribute_reverse.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
  .qx-c-attribute_reverse.qx-aum-spinner.qx-inactive.ui-state-disabled,
  .qx-c-attribute_reverse.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
  .qx-c-attribute_reverse.qx-aum-text-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_reverse.qx-aum-text-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_reverse.qx-aum-text-area.qx-inactive.ui-state-disabled,
  .qx-c-attribute_reverse.qx-aum-text-area.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_reverse.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_reverse.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_reverse.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
  .qx-c-attribute_reverse.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
  .qx-c-attribute_reverse.qx-aum-browser {
    color: var(--fgl-field-color-default-rev-disabled-fg) !important;
    background-color: var(--fgl-field-color-default-rev-disabled-bg) !important;
    opacity: 1;
    
  }
  /* DEFAULT DIM*/
  .qx-c-attribute_dim.qx-aum-calendar.qx-inactive.ui-state-disabled,
  .qx-c-attribute_dim.qx-aum-calendar.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_dim.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
  .qx-c-attribute_dim.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
  .qx-c-attribute_dim.qx-aum-spinner.qx-inactive.ui-state-disabled,
  .qx-c-attribute_dim.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
  .qx-c-attribute_dim.qx-aum-text-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_dim.qx-aum-text-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_dim.qx-aum-text-area.qx-inactive.ui-state-disabled,
  .qx-c-attribute_dim.qx-aum-text-area.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_dim.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_dim.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_dim.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
  .qx-c-attribute_dim.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
  .qx-c-attribute_dim.qx-aum-browser {
    color: var(--fgl-color-default-dim-fg) !important;
    background-color: var(--fgl-color-default-dim-bg) !important;
    opacity: 1;
    
  }

  /* DEFAULT BLINK*/
  .qx-c-attribute_blink.qx-aum-calendar.qx-inactive.ui-state-disabled,
  .qx-c-attribute_blink.qx-aum-calendar.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_blink.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
  .qx-c-attribute_blink.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
  .qx-c-attribute_blink.qx-aum-spinner.qx-inactive.ui-state-disabled,
  .qx-c-attribute_blink.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
  .qx-c-attribute_blink.qx-aum-text-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_blink.qx-aum-text-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_blink.qx-aum-text-area.qx-inactive.ui-state-disabled,
  .qx-c-attribute_blink.qx-aum-text-area.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_blink.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
  .qx-c-attribute_blink.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
  .qx-c-attribute_blink.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
  .qx-c-attribute_blink.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
  .qx-c-attribute_blink.qx-aum-browser {
    color: var(--fgl-color-default-blink-fg) !important;
    background-color: var(--fgl-color-default-blink-bg) !important;
    opacity: 1;
    
  }


  /* ******************************************************************* */
  /*Table (Disp/Inp Array) */
  /* ******************************************************************* */
  /*normal color = NO fgl ATTRIBUTE(color)*/
  /*default*/
  .qx-aum-some:not(.qx-c-nativestyle),
  .qx-aum-some.qx-aum:not(.qx-c-nativestyle) * {
    color: var(--fgl-field-color-default-enabled-fg);
    /* If you define background here, it will overwrite/dominate ALL table elements - do not do this */
    /*background: var(--fgl-color-default-bg);*/;
  }

  qx-aum:not(.qx-c-nativestyle) .md-input,
  qx-aum:not(.qx-c-nativestyle) {
    color: var(--fgl-field-color-default-enabled-fg);
    /*text face color fg */;
  }

  /*
  ####################################################################
  ACTIVE Fields (ALL Element Types with textBox)
  INPUT
  DEFAULT ATTRIBUTE set in fgl  (NO color, dim, blink, reversed attribute)
  ####################################################################
  */

  .qx-aum-calendar.qx-active.ui-state-active,
  .qx-aum-calendar.qx-active.ui-state-active *,
  .qx-aum-function-field-abs.qx-active.ui-state-active .qx-ff-text,
  .qx-aum-function-field-abs.qx-active.ui-state-active .qx-ff-text *,
  .qx-aum-spinner.qx-active.ui-state-active,
  .qx-aum-spinner.qx-active.ui-state-active .qx-text,
  .qx-aum-text-field.qx-active.ui-state-active,
  .qx-aum-text-field.qx-active.ui-state-active *,
  .qx-aum-text-area.qx-active.ui-state-active,
  .qx-aum-text-area.qx-active.ui-state-active *,
  .qx-aum-time-edit-field.qx-active.ui-state-active,
  .qx-aum-time-edit-field.qx-active.ui-state-active *,
  .qx-aum-combo-box.qx-active.ui-state-active, /*outer ComboBoxList*/
  .qx-aum-combo-box.qx-active.ui-state-active .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
  .qx-aum-browser {
    color: var(--fgl-color-blue) !important;
    background-color: transparent;
    opacity: 1;
    
  }
  /* DEFAULT REVERSE*/
  .qx-c-attribute_reverse.qx-aum-calendar.qx-active.ui-state-active,
  .qx-c-attribute_reverse.qx-aum-calendar.qx-active.ui-state-active *,
  .qx-c-attribute_reverse.qx-aum-function-field-abs.qx-active.ui-state-active .qx-ff-text,
  .qx-c-attribute_reverse.qx-aum-function-field-abs.qx-active.ui-state-active .qx-ff-text *,
  .qx-c-attribute_reverse.qx-aum-spinner.qx-active.ui-state-active,
  .qx-c-attribute_reverse.qx-aum-spinner.qx-active.ui-state-active .qx-text,
  .qx-c-attribute_reverse.qx-aum-text-field.qx-active.ui-state-active,
  .qx-c-attribute_reverse.qx-aum-text-field.qx-active.ui-state-active *,
  .qx-c-attribute_reverse.qx-aum-text-area.qx-active.ui-state-active,
  .qx-c-attribute_reverse.qx-aum-text-area.qx-active.ui-state-active *,
  .qx-c-attribute_reverse.qx-aum-time-edit-field.qx-active.ui-state-active,
  .qx-c-attribute_reverse.qx-aum-time-edit-field.qx-active.ui-state-active *,
  .qx-c-attribute_reverse.qx-aum-combo-box.qx-active.ui-state-active, /*outer ComboBoxList*/
  .qx-c-attribute_reverse.qx-aum-combo-box.qx-active.ui-state-active .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
  .qx-c-attribute_reverse.qx-aum-browser {
    color: var(--fgl-color-blue-rev-fg) !important;
    background-color: var(--fgl-color-blue-rev-bg) !important;
    opacity: 1;
    
  }
}

.qx-material-design {
  %disabled_color {
    color: var(--fgl-color-blue);
    background-color: transparent;
    opacity: 1;
  }
  %disabled_reverse_color {
    color: var(--fgl-color-blue-rev-fg);
    background-color: var(--fgl-color-blue-rev-bg);
    opacity: 1;
  }
  %disabled_dim_color {
    color: var(--fgl-color-default-dim-fg);
    background-color: var(--fgl-color-default-dim-bg);
    opacity: 1;
  }
  %disabled_blink_color {
    color: var(--fgl-color-default-blink-fg);
    background-color: var(--fgl-color-default-blink-bg);
    opacity: 1;
  }
  %disabled_field_color {
    color: var(--fgl-field-color-default-disabled-fg) !important;
    background-color: transparent;
    opacity: 1;
  }
  
  /* CSS is used for label/text properties                    */
  /*DEFAULT Label color*/
  /*4gl color default (no attribute(color)) huho: 03.11.2018 */
  .qx-aum-label .qx-text {
    color: var(--fgl-color-default-fg);
  }
  /* 4gl color ATTRIBUTE(REVERSE) */
  .qx-c-attribute_reverse.qx-aum-label .qx-text {
    color: var(--fgl-color-default-rev-fg);
    background-color: var(--fgl-color-default-rev-bg);
  }
  .qx-c-attribute_reverse.qx-aum-label {
    color: var(--fgl-color-default-dim);
    background-color: var(--fgl-color-default-rev-bg);
  }
  /* 4gl color ATTRIBUTE(DIM) */
  .qx-c-attribute_dim.qx-aum-label .qx-text {
    color: var(--fgl-color-default-dim-fg);
    background-color: transparent;
  }
  .qx-c-attribute_dim.qx-aum-label {
    color: var(--fgl-color-default-dim-bg);
    background-color: var(--fgl-color-default-dim-bg);
  }
  /*4gl color ATTRIBUTE(BLINK) */
  .qx-c-attribute_blink.qx-aum-label .qx-text {
    color: var(--fgl-color-default-blink-fg);
    background-color: transparent;
  }
  /*parent background-color*/
  .qx-c-attribute_blink.qx-aum-label {
    background-color: var(--fgl-color-blink-bg-label);
  }
  /*4gl color ATTRIBUTE(UNDERLINE) */
  .qx-c-attribute_underline.qx-aum-label .qx-text {
    color: var(--fgl-color-default-fg);
  }
  
  .qx-disabled {
    @extend %disabled_field_color;
  }
  .qx-aum-browser {
    @extend %disabled_field_color;
  }
  
  .qx-disabled.qx-c-attribute_reverse {
    @extend %disabled_reverse_color;
  }
  .qx-aum-browser.qx-c-attribute_reverse {
    @extend %disabled_reverse_color;
  }
  
  .qx-inactive.qx-disabled.qx-c-attribute_dim {
    @extend %disabled_dim_color;
  }
  .qx-aum-browser.qx-c-attribute_dim {
    @extend %disabled_dim_color;
  }
  
  .qx-inactive.qx-disabled.qx-c-attribute_blink {
    @extend %disabled_blink_color;
  }
  .qx-aum-browser.qx-c-attribute_blink {
    @extend %disabled_blink_color;
  }
  
  /*Table (Disp/Inp Array) */
  /*normal color = NO 4gl ATTRIBUTE(color)*/
  /*default*/
  .qx-aum-some:not(.qx-c-nativestyle),
  .qx-aum-some.qx-aum:not(.qx-c-nativestyle) * {
    color: var(--fgl-color-default-fg);
  }
  
  .qx-aum[data-md-widget]:not(.qx-c-nativestyle):not(.qx-disabled) {
    color: var(--fgl-color-default-fg);
  }
  /* Table ROW */
  .qx-table.qx-aum-table.qx-aum-abstract-data-table .qx-aum-combo-box {
    padding-right: 0;
  }
  /* Different colors for the alternate (even/odd) rows in a table container */
  .qx-tbody .qx-table-row:nth-child(even) {
    background: var(--cnt_tb_row_even-bg-color);
  }
  .qx-c-activefield .qx-tbody .qx-table-row:nth-child(even) {
    background: var(--cnt_tb_row_even-bg-color);
  }
  /*label / text */
  .qx-c-activefield .qx-tbody tr {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
  }
  /* default background-color of table rows*/
  .qx-tbody tr {
    background-color: transparent;
  }  

}
/*END color_default.css*/
