/*BEGIN element_type.css*/
.qx-aum-label.qx-aum-abstract-text-field {
  border-width: var(--main-disabled-border-width);
  border-radius: var(--main-disabled-border-radius);
  border-color: transparent;
  background-color: var(--main-label-color-bg);
  border-style: solid !important;
  margin: var(--main-disabled-border-margin);
  padding: var(--main-disabled-border-padding);
}

/* Text Block of description/information */
/* FormClass: fcls_font_description */
.qx-material-design .qx-aum.qx-c-fcls_font_description .qx-text-with-icon .qx-text {
  color: var(--label-comment-color-fg);
  font-style: italic;
}

.qx-material-design {
  .qx-aum-label.qx-c-fcls_columnlabel_rev_cell {
    background: var(--label-rev-color-bg) !important;
    .qx-text {
      font: normal 1rem "Roboto", "Calibri", "Helvetica Neue", Sans-Serif;
      color: var(--label-rev-color-fg);
      // background: var(--label-rev-color-bg);
      padding-right: var(--main-disabled-border-padding)!important;
      padding-left: var(--main-disabled-border-padding)!important;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }

  .qx-aum-grid-panel > :not(.qx-aum-abstract-container) {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
  }

  .qx-aum-abstract-field:not([data-helper-text]):not(.qx-table-cell) {
    margin-bottom: 2px;
  }

  .qx-aum > iframe {
    border: none;
  }

  .qx-aum-browser,
  .qx-aum-canvas,
  .qx-aum-web-component {
    border: 1px solid rgba(92, 156, 204, .5);
  }

  .qx-bool-widget:not(.qx-table-cell) {
    height: var(--bool-widget-height)
  }

  .qx-table-cell > .qx-bool-widget > .wrapper {
    margin: 0;
  }

  .qx-table-cell.qx-bool-widget {
    padding-left: 2px;
    padding-right: 2px;
  }

  .qx-table-cell[data-edit-control-id] {
    padding: 2px;
  }

  .qx-inactive.qx-disabled.md-tf .md-text-trailing-button {
    opacity: 0;
  }
}

.qx-target-formbuilder.qx-material-design {
  .qx-inactive.qx-disabled.md-tf .md-text-trailing-button {
    opacity: 1;
  }
}

/*END element_type.css*/
