/*BEGIN messages.css*/
.qx-material-design {
  .qx-wrapper-popup,
  .qx-wrapper-popuperror,
  .qx-wrapper-textto,
  .qx-wrapper-attachto,
  .qx-wrapper-console,
  .qx-wrapper-displayatredir {
    display: none !important;
  }
  .qx-messages-popup {
    position: fixed;
    z-index: 100000;
    border-radius: 5px;
    padding: .5rem 1rem;
    white-space: pre-wrap;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    transition: all 0.15s;
  }
  .qx-messages-popup.no-attributes {
    background-color: #34474f;
    color: #ccc;
  }
  .qx-messages-popup-error.no-attributes {
    background-color: #D32F2F;
  }
}
/*END messages.css*/
