/*BEGIN text-console.css*/
.qx-jquery-ui {
  .qx-text-console .ui-widget-content textarea{
    font: var(--main-text-console-font);
    color: var(--main-text-console-color-fg);
    background-color: var(--main-text-console-color-bg);
  } 
}

.qx-material-design {
}
/*END text-console.css*/
