/*
########################################################
CSS is used for specific customer/project properties


########################################################
*/

[data-text*="mmmm;"]{
display: none;
}

[data-text*="========="]{

display: none;
}

[data-text*="="]{

display: none;
}

[data-text="+"]{

display: none;
}


[data-text=":"]{

display: none;
}

[data-text=">"]{

display: none;
}


[data-text="<"]{

display: none;
}

.qx-sep-sec,.qx-sep-prim{
display: none;	
}

.qx-aum-scroll-bar
{
display: none;	
}
/* All DISPLAY AT strings */
.qx-c-lycia_display_at.qx-has-text .qx-text
{
	font: normal 1.2rem Calibri, "Roboto Mono", "Helvetica Neue", Sans-Serif;
	color:  #2e6e9e;
	font-weight: bold;
}


/*screen contents*/
/*
.qx-aum-coord-panel.qx-aum-items-container.qx-aum-abstract-container.qx-root-form.qx-window-root *
{

    color: white;

    background: #5c9ccc url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
    background-image: url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(92, 156, 204);    
}
*/

/*
.qx-content.qx-flex-cell.qx-focus-target.qx-root.qx-aum.qx-aum-window.qx-aum-element-container.qx-aum-abstract-container.qx-identifier-w3.qx-focusable-field.qx-full-screen.qx-inter-window.ui-widget-content.qx-o-aum-window *
{

    color: white;

    background: #5c9ccc url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
    background-image: url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(92, 156, 204);    
}
*/
/*
.qx-content.qx-flex-cell.qx-focus-target.qx-root.qx-aum.qx-aum-window.qx-aum-element-container.qx-aum-abstract-container.qx-identifier-wkeyusage.qx-focusable-field.qx-full-screen.qx-inter-window.ui-widget-content.qx-o-aum-window *
{

    color: white;

    background: #5c9ccc url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
    background-image: url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(92, 156, 204);
}

*/